.reviews  {
    display: block;
    position: absolute;
    border: 1px solid black;
    top: -20px;
    width: 90%;
    min-height: 100px;
    transition: linear width .022s;
    background-color:white;
    
   
}
.reviews ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.reviews ul li{
    padding: 0.3rem ;
    border-bottom: 1px solid;
    margin: 0.2rem;
}
.reviews  li .title{
    display: block;


}
.reviews  li .user{
    display: block;
    color:red;
    margin: 0.2rem 0;  
}
.reviews  li .user b{
    color:black  
}
.no-reviews{
width: 0px;
}
.cross {
    width: 14px;
    height: 14px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    left:100%;
    transform: translateX(-100%);
    cursor: pointer;
    padding: 0.1rem;
}
.cross:hover{
    color:white;
    background-color:black;
}
