/* range */



.filter-range {
    width: 100%;
    margin: 1rem auto; /* для демо */
  
    color: black;
 
  }
  
  .price-controls {
      display: flex;
      width: 100%;
      position:relative;
      margin-bottom: 1rem
  }
  .price-controls input {
      width: 40px
  }

  .price-controls label {
    margin-right: 0.3rem;
    margin-left: 0.2rem;
  }


  
  .range-controls {
    position: relative;
    margin-bottom: 32px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: black
  }
  
  .range-controls .bar {
    width: 100%;
    height: 2px;
  
    background: black;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #000;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.6);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 100%;
  }
  
  .btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #000;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    margin-top: 0.2rem;
    min-width: 160px;
  }
  
  .btn-transparent:hover {
    color: #000000;
    
    background: #ffffff;
  }





