.order {
    padding: 0.2rem 0.3rem;
    margin-bottom: 1.6rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.fullwindow {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 71, 57, 0.9);
    
}

.thanks{
    width: 100%;
    background-color: green;
    color:white;
   
    padding: 3rem;
    font-size: 1.2rem;
    position: absolute;
    top:40%;
  
    left:50%;
    transform: translate(-50%);

}