body {
    background-color: #cef5ea;
    height: 100%;
}
.wrapper {
}

 

.container {
    
}
.footer-app {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  
   
}

.header-app{


  }
