.my-spinner{
    margin: 4em auto 0 auto;
}
@keyframes ldio-43vb8fdr11 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-43vb8fdr11 div {
  left: 94px;
  top: 43px;
  position: absolute;
  animation: ldio-43vb8fdr11 linear 0.9345794392523364s infinite;
  background: #1d0e0b;
  width: 12px;
  height: 34px;
  border-radius: 6px / 13.6px;
  transform-origin: 6px 57px;
}.ldio-43vb8fdr11 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8566978193146417s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.778816199376947s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.7009345794392523s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6230529595015576s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.545171339563863s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.4672897196261682s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.3894080996884735s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3115264797507788s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.2336448598130841s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.1557632398753894s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.0778816199376947s;
  background: #1d0e0b;
}.ldio-43vb8fdr11 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1d0e0b;
}
.loadingio-spinner-spinner-vgb0i4zp7v {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-43vb8fdr11 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-43vb8fdr11 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
