.cart-page-container{
   
    width: 70%;
    text-align: center;
    margin: 2rem auto 2.3rem auto;
}
.cart-table-info{
    border: 1px solid;
    border-collapse: collapse;
    margin: auto;
    width: 90%;
    background: white;
    
    
}
.cart-table-info tr {
    border:1px solid;
}
.cart-table-info th {
    border:1px solid ;
    padding: 1rem 0; 
}

.cart-table-info td {
    border:1px solid;
    padding: 1rem 0; 
    min-width: 100px; 
}
.cart-table-info td img {
    width: 140px;
}

.cart-table-info td i {
    margin: 0.3rem;
    font-size: 1.2rem;
    padding: 0rem;
}


.cart-table-info td i:hover {
    color:red;
    background-color: rgb(9, 178, 201);
    padding: 0;
    cursor: pointer;
}

.container-detail-page-cart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size:1.2rem
}
.cart-page-container .total-summ-cart{
    width: 90%;
    margin: 0.6rem auto 0.4rem auto;
    text-align: right;
}

li {
    margin-bottom: 0.4rem;
    list-style: none;
}
li a {
    text-decoration: none;
    color:black
}

li a:hover{
    color:rgb(119, 163, 168);
    text-decoration: underline;
}

.empty {
    font-size: 1.3rem;
    padding-top: 2.6rem;
}





