.product{
    min-width: 320px;
    border: 1px solid;
    border-radius: 0.4rem;
    box-shadow: 1px 0 10px  rgba(0,0,0,0.5);
    padding:0.6rem;
    margin: 0.4rem 0.6rem;
    height: 266px;
    text-align: center;
    background-color: white;
}
.product img {
    width: 200px;
    max-height: 200px;
    border: 0
}
.link{
    color:black;
    text-decoration: none;
}

.link:visited{
  border:6px solid grey
}
.link:hover{
    color:grey
}
.product .title-price{
    font-size: 1.2rem;
}
.product .price {
    border: 1px solid grey;
    margin: 0.3rem 0;
}
.product .title-product {
    font-size:1.2rem;
    font-weight: bolder;
    margin-bottom: 0.4rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid;
}