.container-vertical-menu {
    border-right: 1px solid;
    min-width: 160px;
    background: #e1eaeb;
    padding-right: 2.2rem ;
    padding-bottom: 3rem;
    margin-top: 0.6rem;
    min-height: 460px;
}

.container-vertical-menu ul{
    list-style: none;
    border:0px solid;
}

.container-vertical-menu h1{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid;
    margin-left: 0.3rem;
    margin-right: 0.3rem;

}

.container-vertical-menu .brend-container{
    border: 0px solid ;
    
    text-align: left;

}
.container-vertical-menu .brend-container li{
    margin: 0.2rem 0 0.2rem 0;
    padding:0
}






