.header{
    display: flex;
    justify-content: space-between;
    background-color:white;
}

.logo{
    margin: 0.5rem 0 0.5rem 2rem;
    padding:0.6rem;
    font-size:20px;
    font-style: italic;
    font-weight:600;
  
}
.cart-header{
   /*  display: flex; */
    margin: 0.6rem 0.2rem 0.6rem 0;
    padding: 0.2rem 0.1rem;
    border: 1px solid;
}

.header a {
text-decoration: none;
color:black
}
.header a:hover .cart-header {
    box-shadow: 0 0 4px rgba(129, 122, 122, 0.5);
    }
.count-header i {
    font-size:1.2rem;
    
}
.total-header{
    padding-top: 0.2rem;
}

.logo a {
    text-decoration: none;
    color:black;
    font-weight: ;
}

.logo a:hover{
    color:grey
}
